<main>
    <div class="categorias">
       <h2> Categorias e Filmes </h2>  
       <nav>
       <ul>
         <li><a class="Lista1" [routerLink]="['/lista']">Comedia</a></li>
         <li><a class="Lista2" [routerLink]="['/lista']">Terror</a></li>
         <li><a class="Lista3" [routerLink]="['/lista']">Ação</a></li>
       </ul>
     </nav>
   </div>
       
       <section class="filmes-em-destaque">
         <div class="filme">
           <img src="assets/img/sexta13.jpg" alt="Filme 1">
           <h3> Sexta-feira 13 </h3>
           <p></p>
         </div>
         <div class="filme">
           <img src="assets/img/mib.jpg" alt="Filme 2">
           <h3> Homens de Preto </h3>
           <p></p>
         </div>
         <div class="filme">
           <img src="assets/img/gentegrande2.jpg" alt="Filme 2">
           <h3> Gente Grande 2 </h3>
           <p></p>
         </div>
       </section>
     </main>
