<main>
    <section class="banner">
      <h1>Esses são nossos filmes da categoria Terror!</h1>
    </section>

    <section class="filmes-em-destaque">
      <div class="filme">
        <img src="assets/img/anjosdalei.jpg" alt="Filme 1">
        <h2> Anjos da Lei 2 </h2>
        <p>Duração: 2h 49m</p>
        <p></p>
        <p>Data de lançamento: </p>
        <p>Classificação: 18 Anos </p>
      </div>
      <div class="filme">
        <img src="assets/img/sorria.jpg" alt="Filme 2">
        <h2> SORRIA </h2>
        <p>Duração: 1h 56m</p>
        <p></p>
        <p>Data de lançamento: </p>
        <p>Classificação: 16 Anos </p>
      </div>
      <div class="filme">
        <img src="assets/img/panico.jpg" alt="Filme 3">
        <h3> PANICO 6 </h3>
        <p>Duração: 1h 54m</p>
        <p> </p>
        <p>Data de lançamento: de 2023</p>
        <p>Classificação: 18 Anos </p>
      </div>
    </section>
  </main>
